@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: MontserratBold;
  src: url(../font/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: MontserratMedium;
  src: url(../font/Montserrat-Medium.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  min-height: 100vh;
  width: 100%;
}
html{
  font-size: 16px;
}
body{
  font-family: Montserrat;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vh;
}
::-webkit-scrollbar:hover {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 100vw;
  margin-block: 0.2em;
}
/* ::-webkit-scrollbar-track:hover {
  background-color: #aaa;
} */
::-webkit-scrollbar-thumb {
  background-color: #f8d442;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #f8d4428d;
}
/* SIDE BAR*/
.side-bar {
  max-width: 270px;
  width: 50%;
  height: 100dvh;
  background-color: #f2eae1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 18px 0px;
  transition: .5s;
}
.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 54px;
}
.title-container .title {
  font-family: MontserratBold;
  font-size: 1.25rem;
  border-left: 4px solid #f8d442;
  padding-left: 12px;
}
.title-container .button{
  max-width: 40px;
  max-height: 25px;
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.title-container .button span{
  width: 40px;
  max-height: 3px;
  height: 5px;
  background: #000;
  border-radius: 100vw;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.picture-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  top: -20%;
}
.name {
  font-family: MontserratBold;
  font-size: 1.06rem;
  padding-bottom: 18px ;
}
.role {
  font-family: MontserratMedium;
  font-size: 0.875rem;
  color: #feaf00;
}
.page-menu {
  height: 100%;
  max-width: 193px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-options {
  font-family: MontserratMedium;
  width: 100%;
  height: 41px;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  padding-left: 41px;
  border: none;
  background: transparent;
}
.page-options:hover {
  background: #feaf00;
}
.page-options img {
  flex-basis: 15%;
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  margin-right: 15px;
}
.page-options.last {
  margin-bottom: 14px;
}
.page-options.last img {
  flex-basis: 15%;
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}

/* MAIN PAGE */
.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* NAV BAR */
.nav-bar {
  position: sticky;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
}
.nav-bar img {
  padding: 30px;
  transition: .75s;
}
.nav-bar img:hover{
  filter: brightness(50%);
}
/* .nav-bar image */
.nav-bar-right {
  display: flex;
  justify-content: center;
}
.nav-bar-right img {
  padding: 0px;
  margin-right: 51px;
}

.textfield {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  height: 37px;
  margin: 27px;
  padding: 0px 15px;
  background: none;
}
.textfield input {
  border: none;
  outline: none;
}
.textfield img {
  height: 14px;
  margin: 0px;
}

@media (max-width: 768px) {
  /* SIDE BAR */
  .side-bar {
    position: relative;
    top:0;
    left: 0;
    max-width: 100%;
    width: 0px;
    padding: 18px;
  }
  .title-container .button{
    display: flex;
  }
  .main-page{
    flex: 0;
  }
  /* 
  .title-container {
    max-width: 80px;
    padding: 0px;
    margin: 0px;
  }
  .title-container .title {
    display: none;
  }
  .title-container .button{
    display: flex;
  }
  .profile {
    padding: 10px;
  }
  .name {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
  .role {
    padding-top: 10px;
    font-size: 12px;
  }
  .page-options p {
    display: none;
  }
  .page-menu {
    padding: 10px;
  }
  .page-options {
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  .page-options img {
    margin: 0px;
  }
  .page-options.last {
    padding: 0px;
  }
  .page-options.last img {
    margin: 0px;
  } */
  /* NAV BAR */
  .nav-bar {
    padding: 15px;
  }
  .nav-bar img {
    padding: 0px;
  }
  .nav-bar-right img {
    padding: 0px;
    margin-right: 0px;
  }

  .textfield {
    margin: 10px;
    padding: 0px 10px;
  }
}