/* MAIN PAGE CONTENT */

.content {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  padding: 15px;
  overflow-y: auto;
}
.content-menu {
  width: 100%;
  max-height: 50vh ;
  height: 157px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.content-options {
  flex: 1;
  max-width: 450px;
  min-width: 210px;
  width: 100%;
  background: #599bc6;
  border-radius: 8px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 10px 0px #0000001A;
  cursor: pointer;
}
.content-options._1 {
  background: #f0f9ff;
}
.content-options._2 {
  background: #fef6fb;
}
.content-options._3 {
  background: #fefbec;
}
.content-options._4 {
  background: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
}
.content-options:hover {
  filter: brightness(90%);
}

.icon {
  font-family: Montserrat;
  font-size: 14px;
  text-align: left;
  color: #6c6c6c;
  padding: 20px;
}
.content-options._4 .icon p {
  color: #fff;
}
.statistic {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: MontserratBold;
  font-size: 30px;
  text-align: left;
  padding: 20px;
  padding-top: 0px;
}
.statistic .unit {
  padding: 3px 5px;
  font-size: 18px;
}
/* @media (max-width:1259px){
  .content-options{
    max-width: calc((100% - 120px) / 3);
  }
}
@media (max-width:1019px){
  .content-options{
    max-width: calc((100% - 90px) / 2);
  }
} */


