
@font-face {
    font-family: Montserrat ;
    src: url(../font/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: MontserratBold ;
    src: url(../font/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: MontserratMedium ;
    src: url(../font/Montserrat-Medium.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-board.wrapper{
    min-height: 100vh;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.side-bar{
    max-width: 20vw;
    width: 270px;
    background-color: #F2EAE1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.side-bar.title{
    font-family: MontserratBold;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    width: 220px;
    border-left: 4px solid #F8D442;   
    margin:18px 25px;
    text-wrap: nowrap;
    padding-left: 10px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture-container{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden; 
    background-size: contain; 
    background-position: center center; 
}
.profile img{
    width: 100%; /* Ensures image scales to fill the circle */
    height: auto;  /* Maintains aspect ratio */
    position: relative; 
    top: -10%;
    left: 0%;
}
.name{
    font-family: MontserratBold;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.72px;
    text-align: left;
    margin: 20px;
}
.role{
    font-family: MontserratMedium;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #FEAF00;
}
.page-menu{
    flex: 1;
    height: 479px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.page-menu ul{
    list-style: none;
}
.page-options{
    display: flex;
    flex-direction: row;
    font-family: MontserratMedium;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    padding: 21px 0px   
}
.page-options img{
    padding-right: 15px;
}
.page-options.last img{
    padding-left: 15px;
}



.main-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav-bar{

    height: 60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar img{
    margin: 30px;
}
.nav-bar-right{
    display: flex;
    justify-content: center;
}

.textfield{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    height: 37px;
    margin: 27px;
    padding: 0px 15px;
    background: none;
    /* position: relative; */
}
.textfield input{
    border: none;
}
.textfield img {
    height: 14px;
    margin: 0px;
}
.content{
    height: 100%;
    width: 100%;
    background: #FDFDFD;
    padding: 15px
}
.content-menu{
    width: 100%;
    height: 157px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content-options{
    height: 100%;
    width: 255px;
    /* background: #599bc6; */
    border-radius: 8px ;
    margin:15px;
    display: flex;
    flex-direction: row;
}
.content-options._2{
    background: #FEF6FB;
    ;
}
.content-options._3{
    background: #FEFBEC;

}
.content-options._4{
    background: linear-gradient(110.42deg, #FEAF00 18.27%, #F8D442 91.84%);

}
.content-options._1{
    background: #F0F9FF;
}
.icon{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #6C6C6C;
    padding: 20px;
}
.statistic{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-end;
    font-family: MontserratBold;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    text-align: left;
}