@font-face {
    font-family: Montserrat ;
    src: url(../font/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: MontserratBold ;
    src: url(../font/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
    font-family: MontserratMedium ;
    src: url(../font/Montserrat-Medium.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-board.wrapper{
    min-height: 100vh;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.side-bar{
    max-width: 20vw;
    width: 270px;
    background-color: #F2EAE1;
    display: flex;
    flex-direction: column;

}
.side-bar.title{
    font-family: MontserratBold;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    width: 220px;
    border-left: 4px solid #F8D442;   
    margin:18px 25px;
    text-wrap: nowrap;
    padding-left: 10px;
}