/* MAIN PAGE CONTENT */
img{
  cursor: pointer;
}
.content {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  padding: 30px;
}
/* FUNCTION BAR */
.function-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}
.function-bar p {
  font-family: MontserratBold;
  font-size: 22px;
  text-wrap: nowrap;
  padding-right: 30px;
}
.function-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.function-block img {
  max-height: 22px;
  padding-right: 30px;
}
.function-block img:hover {
  filter: brightness(90%);
}
.content hr {
  border: 1px solid #e5e5e5;
}

/* CONTENT LIST */
.student-table {
  width: 100%;
  height: 70vh;
  display: flex;
  overflow: auto;
}
table {
  width: 100%;
  text-align: left;
  border: none;
  border-collapse: separate;
  border-spacing: 0px 0px;
  appearance: none;
}
.attribute-bar {
  font-family: MontserratMedium;
  font-size: 12px;
  color: #acacac;
}
td {
  padding: 15px;
}
th {
  padding: 21px 15px;
}
td {
  font-family: Montserrat;
  font-size: 14px;
  text-wrap: nowrap;
}
table tr:nth-child(even) {
  background-color: #fff;
}

