@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: MontserratBold;
  src: url(../font/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: MontserratMedium;
  src: url(../font/Montserrat-Medium.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  width: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: Montserrat;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 100dvh;
  width: 100%;
  background-color: #fff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vh;
}
::-webkit-scrollbar:hover {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 100vw;
  margin-block: 0.2em;
}
::-webkit-scrollbar-thumb {
  background-color: #4b4737;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #fde27765;
}

/* SIDE BAR*/
.side-bar {
position: sticky;
top:0;
bottom: 0;

  max-width: 270px;
  width: 35%;
  height: 100vh;
  padding: 18px 0px;
  background-color: #f2eae1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}
.title-container {
  width: 100%;
  padding-bottom: 54px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title-container .title {
  font-family: MontserratBold;
  font-size: 1.25rem;
  border-left: 4px solid #f8d442;
  padding-left: 12px;
}
.menu-button {
  position: absolute;
  top: 20px;
  /* left: 20px; */
  max-width: 40px;
  max-height: 25px;
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;
  z-index: 3;
}
.menu-button span {
  width: 40px;
  max-height: 3px;
  height: 5px;
  background: #000;
  border-radius: 100vw;
  transition: 0.5s;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.picture-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  top: -20%;
}
.name {
  font-family: MontserratBold;
  font-size: 1.06rem;
  padding-bottom: 18px;
}
.role {
  font-family: MontserratMedium;
  font-size: 0.875rem;
  color: #feaf00;
}
.page-menu {
  height: 100%;
  max-width: 193px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-options {
  width: 100%;
  height: 41px;
  padding-left: 41px;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: MontserratMedium;
  text-decoration: none;

  color: #000;
  border-radius: 4px;
  font-size: 0.875rem;
  border: none;

  background: transparent;
  cursor: pointer;
}
.page-options:hover {
  background: #fedb90;
}
.page-options img {
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  flex-basis: 15%;
  margin-right: 15px;
}
.page-options.last {
  margin-bottom: 14px;
}
.page-options.last img {
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}

/* MAIN PAGE */
.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* NAV BAR */
.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  z-index: 2;
}
#toggle-menu {
  height: 40%;
  padding: 0px 30px;
  transition: 0.75s;
  cursor: pointer;
}
.nav-bar img:hover {
  filter: brightness(50%);
}
/* .nav-bar image */
.nav-bar-right {
  display: flex;
  justify-content: center;
}
.nav-bar-right img {
  padding: 0px;
  margin-right: 51px;
}

.textfield {
  height: 37px;
  margin: 0px 27px;
  padding: 0px 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: none;
}
.textfield input {
  border: none;
  outline: none;
}
.textfield img {
  height: 14px;
  margin: 0px;
}

@media (max-width: 768px) {
  /* SIDE BAR */
  .side-bar {
    max-width: 100%;
    width: 0%;
  }
  .title-container {
    padding: 0px 18px;
  }
  .menu-button.close {
    right: 20px;
    display: flex;
  }
  .menu-button.open {
    left: 20px;
    display: flex;
  }
  .menu-button.close span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 16px);
  }
  .menu-button.close span:nth-child(2) {
    display: none;
  }
  .menu-button.close span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -15px);
  }
  .main-page {
    flex:1;
    width: 0px;
  }
  /* NAV BAR */
  .nav-bar {
    justify-content: flex-end;
    padding: 15px;
  }
  .nav-bar img {
    display: none;
    padding: 0px;
  }
  .nav-bar-right img {
    display: inline;
    padding: 0px;
    margin-right: 0px;
  }

  .textfield {
    margin: 10px;
    padding: 0px 10px;
  }
}
