/* MAIN PAGE CONTENT */
.content {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  padding: 30px;
}

/* FUNCTION BAR */
.function-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.function-bar p {
  font-family: MontserratBold;
  font-size: 22px;
  text-wrap: nowrap;
  padding-right: 30px;
  margin-bottom: 30px;
}
.function-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.function-block img {
  max-height: 22px;
  padding-right: 30px;
}
.function-block img:hover {
  filter: brightness(90%);
}
.function-block button {
  font-family: Montserrat;
  font-size: 14px;
  width: 100%;
  background: #feaf00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 27px;
  text-wrap: nowrap;
  flex: 1;
}
.function-block button:hover {
  filter: brightness(90%);
}
.content hr {
  border: 1px solid #e5e5e5;
}

/* CONTENT LIST */
.student-table {
  display: flex;
  overflow-x: scroll;
}
table {
  width: 100%;
  text-align: left;
  border: none;
  border-collapse: separate;
  border-spacing: 0px 8px;
  appearance: none;
}
.attribute-bar {
  font-family: MontserratMedium;
  font-size: 12px;
  color: #acacac;
}
tr,
td {
  padding: 15px;
  border-radius: 4px;
}
th {
  padding: 21px 15px;
}
td {
  font-family: Montserrat;
  font-size: 14px;
  text-wrap: nowrap;
}
.student-information {
  background-color: #fff;
  padding: 15px;
}
.student-picture {
  width: 65px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}
.student-picture img {
  width: 65px;
}
.student-picture img {
  height: auto;
  object-fit: cover;
  position: relative;
  top: -20%;
}

@media (max-width: 575px) {
  /* SIDE BAR */
  .side-bar {
    max-width: 80px;
    width: 80px;
  }
  .title-container {
    max-width: 80px;
    padding: 0px;
    margin: 0px;
    display: none;
  }
  .title-container .title {
    font-family: MontserratBold;
    font-size: 20px;
    border-left: 4px solid #f8d442;
    margin-top: 18px;
    padding-left: 12px;
  }
  .profile {
    padding: 10px;
  }
  .name {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
  .role {
    padding-top: 10px;
    font-size: 12px;
  }
  .page-options p {
    display: none;
  }
  .page-menu {
    padding: 10px;
  }
  .page-options {
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  .page-options img {
    margin: 0px;
  }
  .page-options.last {
    padding: 0px;
  }
  .page-options.last img {
    margin: 0px;
  }
  /* NAV BAR */
  .nav-bar {
    padding: 15px;
  }
  .nav-bar img {
    padding: 0px;
  }
  .nav-bar-right img {
    padding: 0px;
    margin-right: 0px;
  }

  .textfield {
    margin: 10px;
    padding: 0px 10px;
  }
  .function-bar {
    flex-direction: column;
  }
}
