@use "sass:math";
#mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  overflow: hidden;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

#buttonContainer {
  position: absolute;
  top: 20px;
  height: 20px;
  width: math.sqrt(2) * 20px;
  display: flex;
  align-items: center;
  display: none;
  z-index: 3;
  &.open {
    right: 20px;
  }
  &.close {
    left: 20px;
  }
}
#menuButton span {
  position: absolute;
  width: 100%;
  max-height: 2px;
  height: 100%;
  background: #000;
  border-radius: 100vw;
  transition: 0.5s;
  
}
#menuButton {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  span:nth-child(1) {
      top:0;
    }
    span:nth-child(2) {
      top:50%;
      transform: translate(0px,-1px) ;
    }
    span:nth-child(3) {
      bottom:0;
    }
  &.open {
    span:nth-child(1) {
      transform: rotate(45deg)  ;
      top:50%;
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top:50%
    }
  }
  &.close {
    height: 100%;
  }
}

@media (max-width: 768px) {
  #buttonContainer {
    display: inline;
  }
  #mainPage {
    &.open {
      flex: 0;
    }
  }
}
